aiohttp==3.6.3
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
chardet==3.0.4
colorama==0.4.4
discord==1.0.1
discord.py==1.5.1
idna==2.10
iniconfig==1.1.1
multidict==4.7.6
packaging==20.9
Pillow==8.0.1
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
python-dotenv==0.15.0
toml==0.10.2
yarl==1.5.1
